<div>
    <h1>Noticias</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nihil doloribus temporibus veritatis dolores, iste consequuntur unde veniam vero sint voluptatibus repudiandae voluptatum vel odit iusto mollitia enim minima nobis.</p>
</div>