---
import { Icon } from 'astro-icon/components';
import MenuButton from '../buttons/MenuButton.astro';
import { navLinks } from '../../data/navigation.js';
import './side-bars.scss';
---

<aside id="sidebar-menu" class="sidebar">
    <nav class="sidebar-nav">
        <ul>
            <li>
                <MenuButton href="/">INICIO</MenuButton>
            </li>
            {navLinks.map(link => (
                <li>
                    <MenuButton href={link.href}>{link.text}</MenuButton>
                </li>
            ))}
        </ul>
    </nav>
    <footer class="sidebar-footer">
        <div class="social-links">
            {/* 👇 2. Reemplaza "IG" por el componente Icon */}
            <a href="#" aria-label="Instagram">
                <Icon name="simple-icons:instagram" />
            </a>

            {/* 👇 3. Reemplaza "YT" por el componente Icon */}
            <a href="#" aria-label="YouTube">
                <Icon name="simple-icons:youtube" />
            </a>
        </div>
        <span>@Click_Alternativo</span>
    </footer>
</aside>