/// Buttons
$primary-button-color: #6bbf5b;
$secondary-button-color: #1e1e1e;
$font-family: "Anton", sans-serif;

.menu-button {
  // Estilos base para mobile
  background-color: $secondary-button-color;
  color: $primary-button-color;
  width: 80%; // Ocupa todo el ancho disponible en mobile
  height: 50px; // Altura más adecuada para mobile
  font-size: 1.2rem; // Tamaño de fuente más pequeño para mobile
  padding: 0.5rem 1rem;
  font-weight: 800;
  font-family: $font-family;
  border: none;
  cursor: pointer;
  text-decoration: none;
  
  /* Manera más simple de centrar el contenido */
  display: grid;
  place-content: center;
  
  // Efecto hover/active
  transition: all 0.2s ease;
  &:hover, &:focus {
    background-color: lighten($secondary-button-color, 10%);
    transform: scale(1.02);
  }
  &:active {
    transform: scale(0.98);
  }

  // Media queries para pantallas más grandes
  @media (min-width: 768px) {
    width: 250px;
    height: 80px;
    font-size: 1.5rem;
  }

  @media (min-width: 1024px) {
    width: 300px;
    height: 100px;
    font-size: 2rem;
  }
}