---
import { Image } from 'astro:assets';
import LogoClickAlternativo from '../../assets/Logo/LogoClickAlternativo.png'
import './Logo.scss'
---

<div class="logo-container" >
    <Image class="logo" src={LogoClickAlternativo}  alt="Logo de Clic Alternativo"/>
</div>