// .logo-container {
//     // height: 30vh;
//     max-width: 100%;
// }

.logo {
    height: 30vh;
    width: 100%;
    margin-top: 1.2rem;
}

@media (min-width: 768px) {
    .logo{
        margin-top: 1.5rem;
    }
}