---
import LogoClickAlternativo from '../../assets/Logo/LogoClickAlternativo.png'
import './Logo.scss'
---

<div class="logo-container">
  <img 
    class="logo" 
    src={LogoClickAlternativo.src} 
    alt="Logo de Clic Alternativo" 
    loading="lazy" 
    decoding="async"
  />
</div>
