// Importa tus variables de color
@use "../../styles/variables" as var;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px; // Ancho del menú
  height: 100vh; // Ocupa toda la altura de la pantalla
  background-color: #14ae5c; // El verde de tu diseño
  color: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  // crucial: Lo esconde fuera de la pantalla por defecto
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  // crucial: Cuando tenga la clase .is-open, se mostrará
  &.is-open {
    transform: translateX(0);
  }
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; // Espacio entre botones
}

.sidebar-footer {
  margin-top: auto; // Empuja el footer hacia abajo
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  a {
    color: white;
    /* Estilos para los iconos de redes sociales */
  }
}
