---
import Layout from "../layouts/main/Layout.astro";
import NotFoundImage from "../assets/NoEncontrado/ICONO_NO_ENCONTRADO.svg";
import { Image } from "astro:assets";
import "./_404.scss";
---

<Layout
  title="Página no encontrada"
  description="El recurso buscado no existo o no pudo ser encontrado. HTTP 404"
>
  <!-- El contenedor principal ahora es más simple -->
  <div class="container-404">
    <Image
      src={NotFoundImage}
      alt="Nave espacial abduciendo una señal de interrogación"
      width={250}
      class="image-404"
    />
    <h1 class="title-404">¡Ups! Página no encontrada</h1>
    <a href="/" class="link-404">Volver al inicio</a>
  </div>
</Layout>
