---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/main/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout 
  title="Página de Inicio" 
  description="Bienvenido a Cuajo Project, tu fuente de noticias sobre gaming, cine y más.">
  
  <h1>Soy el Cuajo y soy PUTO!</h1>
  <p>Este es el contenido principal de mi página de inicio.</p>

</Layout>