---
import Logo from './Logo/Logo.astro'
import SearchBar from './SearchBar/SearchBar.astro'
import './Welcome.scss'
---

<section class="welcome-content">
	<Logo/>
	<p id="initial-message">Contenido web seleccionado a mano, con criterio humano.</p>
	<SearchBar /> <!-- <-- Y lo usas aquí -->
</section>

