---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import MenuButton from './buttons/MenuButton.astro'
import SideBarMenu from './menu/SideBarMenu.astro';
import Navigation from './navigation/Navigation.astro';
---

<div >
	<main>
		<section >
			<h1>Hello</h1>
			<!-- <Navigation /> -->
		</section>
	</main>
</div>

