.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Negro semitransparente
    
    // Oculto por defecto
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 998; // Justo por debajo del menú (que tiene 999)
}

// Cuando el sidebar está abierto, mostramos el overlay
// Usamos el id del sidebar para seleccionar su hermano .overlay
#sidebar-menu.is-open ~ .overlay {
    opacity: 1;
    visibility: visible;
}